<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.1/css/dataTables.dataTables.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Ceneo Web Scraper </title>
</head>
<body>
    <header class="container text-center sticky-top navbar bg-body-tertiary">
        <h1 class="ms-3">Ceneo Web Scraper</h1>
        <h2 class="me-3">{% block title %} {% endblock %}</h2>
    </header>
    <section class="container mt-3 mb-3 pt-3 pb-3">
        <div class="row">
            <div class="col-2 list-group">
                <a class="list-group-item list-group-item-action" href="{{url_for('index')}}"><i class="bi bi-house-fill"></i> Strona główna</a>
                <a class="list-group-item list-group-item-action" href="{{url_for('display_form')}}"><i class="bi bi-cloud-download-fill"></i>Ekstracja opinii</a>
                <a class="list-group-item list-group-item-action" href="{{url_for('products')}}"><i class="bi bi-list-stars"></i> Lista produktów</a>
                <a class="list-group-item list-group-item-action" href="{{url_for('author')}}"><i class="bi bi-person-fill"></i> O autorze</a>
            </div>
            <div class="col-10">
                {% block content %}
                
                {% endblock %}
            </div>
        </div>
    </section>
    <footer class="container sticky-bottom navbar bg-body-tertiary justify-content-center">
        <p class="mt-1 mb-1">Szymon Marszałek, Uniwersytet Ekonomiczny w Krakowie </p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/2.3.1/js/dataTables.js"></script>
    {% block script %}  {% endblock %}
</body>
</html>