{% extends 'base.html' %}
{% block title %}Ekstrakcja opinii  {% endblock %}
{% block content %}
    <form action="{{url_for('extract')}}" method="post" class="row align-items-center">
        <div class="col-4 text-end">
            <label for="product_id">Kod produktu </label>
        </div>
        <div class="col-4">
            <input type="text" name="product_id" id="product_id" required class="form-control">
        </div>
        <div class="col-4">
            <button type="submit" class="btn btn-ceneo">Pobierz opinie</button>
        </div>
    </form>
{% endblock %}